body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#products-header {
  width: 100vw;
}

.individual-product {
  width: 33%;
  display: flex;
  flex-direction: column;
}